
@font-face {
  font-family: 'PixelFont';
  src: url('data/FRM3216x16.ttf') format('truetype');
}

@font-face {
  font-family: 'header_style';
  src: url('data/InknutAntiqua-Regular.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

h1{
  margin: auto;
}

body{
  margin: auto;
}

.maintext{
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-family: "Inter", sans-serif;

  margin-top: auto;
  margin-bottom: auto;


}

.maintext2{
  color: rgba(255, 255, 255, 1.0);
  font-size: 24px;
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: 'header_style', sans-serif;
  font-size: 64px;

  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
}

h2 {
  font-family: 'header_style', sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);

  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
}

h3 {
  font-family: 'header_style', sans-serif;
  font-size: 36px;

  position: fixed;
  bottom: 440px;
  right: 200px;
  transform: translateX(-50%);
  z-index: 9999;
}

h4 {
  font-family: 'header_style', sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);

  position: absolute;
  bottom: 430px;
  right: 160px;
  transform: translateX(-0%);
}

.beit{
  position: absolute;
  bottom: 430px;
  left: 100px;
  transform: translateX(-0%);
}

.ave_div{
  position: absolute;
  left: 27px;
  top: 133px;
  width: 461px;
  height: 189px;
  background-color: #E7ADA9;
}